# ядро
fastapi==0.115.0
uvicorn[standard]==0.30.6

# база данных
sqlalchemy==2.0.35
psycopg[binary]==3.2.13
alembic==1.13.2

# конфигурация
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic[email]

# авторизация
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2

# работа с файлами
python-multipart==0.0.9

# Обработка естественного языка
natasha==1.6.0
razdel==0.5.0
numpy==1.26.4
slovnet==0.6.0
navec==0.10.0
regex==2023.12.25
pymorphy3
pymorphy3-dicts-ru